<div class="container">
  <!--&lt;!&ndash; START: Filter &ndash;&gt;-->
  <!--<div class="nk-pagination nk-pagination-nobg nk-pagination-center">-->
    <!--<a href="#nk-toggle-filter">-->
      <!--<span class="nk-icon-squares"></span>-->
    <!--</a>-->
  <!--</div>-->
  <!--<ul class="nk-isotope-filter">-->
    <!--<li class="active" data-filter="*">All</li>-->
    <!--<li data-filter="Branding">Branding</li>-->
    <!--<li data-filter="Print">Print</li>-->
    <!--<li data-filter="Photography">Photography</li>-->
    <!--<li data-filter="Design">Design</li>-->
    <!--<li data-filter="Mockup">Mockup</li>-->
  <!--</ul>-->
  <!--&lt;!&ndash; END: Filter &ndash;&gt;-->

  <!--<div class="nk-portfolio-list nk-isotope nk-isotope-3-cols">-->


    <!--<div class="nk-isotope-item" data-filter="Mockup">-->
      <!--<div class="nk-portfolio-item nk-portfolio-item-square nk-portfolio-item-info-style-1">-->
        <!--<a href="portfolio-single.html" class="nk-portfolio-item-link"></a>-->
        <!--<div class="nk-portfolio-item-image">-->
          <!--<div style="background-image: url('assets/images/portfolio-7-sm.jpg');"></div>-->
        <!--</div>-->
        <!--<div class="nk-portfolio-item-info nk-portfolio-item-info-center text-xs-center">-->
          <!--<div>-->
            <!--<h2 class="portfolio-item-title h3">Vinyl Record</h2>-->
            <!--<div class="portfolio-item-category">Mockup</div>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->


    <!--<div class="nk-isotope-item" data-filter="Print">-->
      <!--<div class="nk-portfolio-item nk-portfolio-item-square nk-portfolio-item-info-style-1">-->
        <!--<a href="portfolio-single.html" class="nk-portfolio-item-link"></a>-->
        <!--<div class="nk-portfolio-item-image">-->
          <!--<div style="background-image: url('assets/images/portfolio-4-sm.jpg');"></div>-->
        <!--</div>-->
        <!--<div class="nk-portfolio-item-info nk-portfolio-item-info-center text-xs-center">-->
          <!--<div>-->
            <!--<h2 class="portfolio-item-title h3">Modern T-Shirt</h2>-->
            <!--<div class="portfolio-item-category">Print</div>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->


    <!--<div class="nk-isotope-item" data-filter="Branding">-->
      <!--<div class="nk-portfolio-item nk-portfolio-item-square nk-portfolio-item-info-style-1">-->
        <!--<a href="portfolio-single.html" class="nk-portfolio-item-link"></a>-->
        <!--<div class="nk-portfolio-item-image">-->
          <!--<div style="background-image: url('assets/images/portfolio-5-sm.jpg');"></div>-->
        <!--</div>-->
        <!--<div class="nk-portfolio-item-info nk-portfolio-item-info-center text-xs-center">-->
          <!--<div>-->
            <!--<h2 class="portfolio-item-title h3">Minimal Bag</h2>-->
            <!--<div class="portfolio-item-category">Branding</div>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->


    <!--<div class="nk-isotope-item" data-filter="Design">-->
      <!--<div class="nk-portfolio-item nk-portfolio-item-square nk-portfolio-item-info-style-1">-->
        <!--<a href="portfolio-single.html" class="nk-portfolio-item-link"></a>-->
        <!--<div class="nk-portfolio-item-image">-->
          <!--<div style="background-image: url('assets/images/portfolio-9-sm.jpg');"></div>-->
        <!--</div>-->
        <!--<div class="nk-portfolio-item-info nk-portfolio-item-info-center text-xs-center">-->
          <!--<div>-->
            <!--<h2 class="portfolio-item-title h3">Clean &amp; Groovy</h2>-->
            <!--<div class="portfolio-item-category">Design</div>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->


    <!--<div class="nk-isotope-item" data-filter="Design">-->
      <!--<div class="nk-portfolio-item nk-portfolio-item-square nk-portfolio-item-info-style-1">-->
        <!--<a href="portfolio-single.html" class="nk-portfolio-item-link"></a>-->
        <!--<div class="nk-portfolio-item-image">-->
          <!--<div style="background-image: url('assets/images/portfolio-3-sm.jpg');"></div>-->
        <!--</div>-->
        <!--<div class="nk-portfolio-item-info nk-portfolio-item-info-center text-xs-center">-->
          <!--<div>-->
            <!--<h2 class="portfolio-item-title h3">Minimal Mobile App</h2>-->
            <!--<div class="portfolio-item-category">Design</div>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->


    <!--<div class="nk-isotope-item" data-filter="Print">-->
      <!--<div class="nk-portfolio-item nk-portfolio-item-square nk-portfolio-item-info-style-1">-->
        <!--<a href="portfolio-single.html" class="nk-portfolio-item-link"></a>-->
        <!--<div class="nk-portfolio-item-image">-->
          <!--<div style="background-image: url('assets/images/portfolio-8-sm.jpg');"></div>-->
        <!--</div>-->
        <!--<div class="nk-portfolio-item-info nk-portfolio-item-info-center text-xs-center">-->
          <!--<div>-->
            <!--<h2 class="portfolio-item-title h3">White T-Shirt</h2>-->
            <!--<div class="portfolio-item-category">Print</div>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->


    <!--<div class="nk-isotope-item" data-filter="Branding">-->
      <!--<div class="nk-portfolio-item nk-portfolio-item-square nk-portfolio-item-info-style-1">-->
        <!--<a href="portfolio-single.html" class="nk-portfolio-item-link"></a>-->
        <!--<div class="nk-portfolio-item-image">-->
          <!--<div style="background-image: url('assets/images/portfolio-2-sm.jpg');"></div>-->
        <!--</div>-->
        <!--<div class="nk-portfolio-item-info nk-portfolio-item-info-center text-xs-center">-->
          <!--<div>-->
            <!--<h2 class="portfolio-item-title h3">Business Card</h2>-->
            <!--<div class="portfolio-item-category">Branding</div>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->


    <!--<div class="nk-isotope-item" data-filter="Photography">-->
      <!--<div class="nk-portfolio-item nk-portfolio-item-square nk-portfolio-item-info-style-1">-->
        <!--<a href="portfolio-single.html" class="nk-portfolio-item-link"></a>-->
        <!--<div class="nk-portfolio-item-image">-->
          <!--<div style="background-image: url('assets/images/portfolio-6-sm.jpg');"></div>-->
        <!--</div>-->
        <!--<div class="nk-portfolio-item-info nk-portfolio-item-info-center text-xs-center">-->
          <!--<div>-->
            <!--<h2 class="portfolio-item-title h3">Heja Stockholm</h2>-->
            <!--<div class="portfolio-item-category">Photography</div>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->


    <!--<div class="nk-isotope-item" data-filter="Photography">-->
      <!--<div class="nk-portfolio-item nk-portfolio-item-square nk-portfolio-item-info-style-1">-->
        <!--<a href="portfolio-single.html" class="nk-portfolio-item-link"></a>-->
        <!--<div class="nk-portfolio-item-image">-->
          <!--<div style="background-image: url('assets/images/portfolio-12-sm.jpg');"></div>-->
        <!--</div>-->
        <!--<div class="nk-portfolio-item-info nk-portfolio-item-info-center text-xs-center">-->
          <!--<div>-->
            <!--<h2 class="portfolio-item-title h3">Paper Bag</h2>-->
            <!--<div class="portfolio-item-category">Photography</div>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->

  <!--</div>-->

  <!--<div class="nk-gap-4"></div>-->


  <!-- work section -->
  <section id="works" class="works section no-padding">
    <div class="container-fluid">
      <div class="row no-gutter">

        <div class="main-product col-md-12">
          <div class="col-lg-6 col-md-12">
            <div class="main-product-img">
              <img src="assets/images/old/product_1.jpg">
            </div>
          </div>

          <div class="col-lg-6 col-md-12">
            <h2>
              <!--Дорожные косметички, дорожные наборы-->
            </h2>
            <p>Компания "Fly High" предлагает вам оригинальную персональную разработку дизайна и комплектации качественных дорожных наборов, которые выгодно дополнят образ ваших клиентов в соответствии с любыми пожеланиями. Так как мы предлагаем вам особенные решения, поэтому и расчет цены и времени тоже индивидуальный.</p>
            <!--<button class="btn btn-default more">-->
              <!--See more-->
            <!--</button>-->
          </div>
        </div>

        <div class='row' *ngFor='let sub of subcategories | async'>
          <h3>{{ sub.title }}</h3>
            <!--<div *ngFor='let item of sub.items'>-->
              <!--<p>{{ item.title }}</p>-->
              <!--<img [src]='item.img' alt=''>-->
            <!--</div>-->
          <div class="col-lg-3 col-md-4 col-sm-6 work" *ngFor='let item of sub.items'>
            <a [routerLink]='["/item"]' class="work-box"> <img [src]="item.img" alt="">
              <div class="overlay">
                <div class="overlay-caption">
                  <p>
                    {{ item.title }}
                  </p>
                  <button class="btn view-btn">
                    <a [routerLink]='["/item"]'>View</a>
                  </button>
                </div>
              </div>
              <!-- overlay -->
            </a>
          </div>
        </div>

        <!--<div class="col-lg-3 col-md-4 col-sm-6 work" *ngFor='let product of products | async'>-->
          <!--<a [routerLink]='["/item"]' class="work-box"> <img [src]="product.images[0]" alt="">-->
            <!--<div class="overlay">-->
              <!--<div class="overlay-caption">-->
                <!--<p>-->
                  <!--{{ product.title }}-->
                <!--</p>-->
                <!--<button class="btn view-btn">-->
                  <!--<a [routerLink]='["/item"]'>View</a>-->
                <!--</button>-->
              <!--</div>-->
            <!--</div>-->
            <!--&lt;!&ndash; overlay &ndash;&gt;-->
          <!--</a>-->
        <!--</div>-->


        <!--<div class="col-lg-3 col-md-4 col-sm-6 work"> <a [routerLink]='["/item"]' class="work-box"> <img src="assets/images/old/item_2.jpg" alt="">-->
          <!--<div class="overlay">-->
            <!--<div class="overlay-caption">-->
              <!--<p>-->
                <!--Product name-->
              <!--</p>-->
              <!--<button class="btn view-btn"><a [routerLink]='["/item"]'>View</a></button>-->
            <!--</div>-->
          <!--</div>-->
          <!--&lt;!&ndash; overlay &ndash;&gt;-->
        <!--</a> </div>-->

        <!--<div class="col-lg-3 col-md-4 col-sm-6 work"> <a [routerLink]='["/item"]' class="work-box"> <img src="assets/images/old/item_3.jpg" alt="">-->
          <!--<div class="overlay">-->
            <!--<div class="overlay-caption">-->
              <!--<p>-->
                <!--Product name-->
              <!--</p>-->
              <!--<button class="btn view-btn"><a [routerLink]='["/item"]'>View</a></button>-->
            <!--</div>-->
          <!--</div>-->
          <!--&lt;!&ndash; overlay &ndash;&gt;-->
        <!--</a> </div>-->

        <!--<div class="col-lg-3 col-md-4 col-sm-6 work"> <a [routerLink]='["/item"]' class="work-box"> <img src="assets/images/old/item_1.jpg" alt="">-->
          <!--<div class="overlay">-->
            <!--<div class="overlay-caption">-->
              <!--<p>-->
                <!--Product name-->
              <!--</p>-->
              <!--<button class="btn view-btn"><a [routerLink]='["/item"]'>View</a></button>-->
            <!--</div>-->
          <!--</div>-->
          <!--&lt;!&ndash; overlay &ndash;&gt;-->
        <!--</a> </div>-->

        <!--<div class="col-lg-3 col-md-4 col-sm-6 work"> <a [routerLink]='["/item"]' class="work-box"> <img src="assets/images/old/item_2.jpg" alt="">-->
          <!--<div class="overlay">-->
            <!--<div class="overlay-caption">-->
              <!--<p>-->
                <!--Product name-->
              <!--</p>-->
              <!--<button class="btn view-btn"><a [routerLink]='["/item"]'>View</a></button>-->
            <!--</div>-->
          <!--</div>-->
          <!--&lt;!&ndash; overlay &ndash;&gt;-->
        <!--</a> </div>-->

        <!--<div class="col-lg-3 col-md-4 col-sm-6 work"> <a [routerLink]='["/item"]' class="work-box"> <img src="assets/images/old/item_3.jpg" alt="">-->
          <!--<div class="overlay">-->
            <!--<div class="overlay-caption">-->
              <!--<p>-->
                <!--Product name-->
              <!--</p>-->
              <!--<button class="btn view-btn"><a [routerLink]='["/item"]'>View</a></button>-->
            <!--</div>-->
          <!--</div>-->
          <!--&lt;!&ndash; overlay &ndash;&gt;-->
        <!--</a> </div>-->

        <!--<div class="col-lg-3 col-md-4 col-sm-6 work"> <a [routerLink]='["/item"]' class="work-box"> <img src="assets/images/old/item_1.jpg" alt="">-->
          <!--<div class="overlay">-->
            <!--<div class="overlay-caption">-->
              <!--<p>-->
                <!--Product name-->
              <!--</p>-->
              <!--<button class="btn view-btn"><a [routerLink]='["/item"]'>View</a></button>-->
            <!--</div>-->
          <!--</div>-->
          <!--&lt;!&ndash; overlay &ndash;&gt;-->
        <!--</a> </div>-->

        <!--<div class="col-lg-3 col-md-4 col-sm-6 work"> <a [routerLink]='["/item"]' class="work-box"> <img src="assets/images/old/item_2.jpg" alt="">-->
          <!--<div class="overlay">-->
            <!--<div class="overlay-caption">-->
              <!--<p>-->
                <!--Product name-->
              <!--</p>-->
              <!--<button class="btn view-btn"><a [routerLink]='["/item"]'>View</a></button>-->
            <!--</div>-->
          <!--</div>-->
          <!--&lt;!&ndash; overlay &ndash;&gt;-->
        <!--</a> </div>-->

        <!--<div class="col-lg-3 col-md-4 col-sm-6 work"> <a [routerLink]='["/item"]' class="work-box"> <img src="assets/images/old/item_3.jpg" alt="">-->
          <!--<div class="overlay">-->
            <!--<div class="overlay-caption">-->
              <!--<p>-->
                <!--Product name-->
              <!--</p>-->
              <!--<button class="btn view-btn"><a [routerLink]='["/item"]'>View</a></button>-->
            <!--</div>-->
          <!--</div>-->
         <!--&lt;!&ndash;  &lt;!&ndash; overlay &ndash;&gt; &ndash;&gt;-->
        <!--</a> </div>-->

        <!--<div class="col-lg-3 col-md-4 col-sm-6 work"> <a [routerLink]='["/item"]' class="work-box"> <img src="assets/images/old/item_1.jpg" alt="">-->
          <!--<div class="overlay">-->
            <!--<div class="overlay-caption">-->
              <!--<p>-->
                <!--Product name-->
              <!--</p>-->
              <!--<button class="btn view-btn"><a [routerLink]='["/item"]'>View</a></button>-->
            <!--</div>-->
          <!--</div>-->
          <!--&lt;!&ndash; &lt;!&ndash; overlay &ndash;&gt; &ndash;&gt;-->
        <!--</a> </div>-->

        <!--<div class="col-lg-3 col-md-4 col-sm-6 work"> <a [routerLink]='["/item"]' class="work-box"> <img src="assets/images/old/item_2.jpg" alt="">-->
          <!--<div class="overlay">-->
            <!--<div class="overlay-caption">-->
              <!--<p>-->
                <!--Product name-->
              <!--</p>-->
              <!--<button class="btn view-btn"><a [routerLink]='["/item"]'>View</a></button>-->
            <!--</div>-->
          <!--</div>-->
         <!--&lt;!&ndash;  &lt;!&ndash; overlay &ndash;&gt; &ndash;&gt;-->
        <!--</a> </div>-->

        <!--<div class="col-lg-3 col-md-4 col-sm-6 work"> <a [routerLink]='["/item"]' class="work-box"> <img src="assets/images/old/item_3.jpg" alt="">-->
          <!--<div class="overlay">-->
            <!--<div class="overlay-caption">-->
              <!--<p>-->
                <!--Product name-->
              <!--</p>-->
              <!--<button class="btn view-btn"><a [routerLink]='["/item"]'>View</a></button>-->
            <!--</div>-->
          <!--</div>-->
          <!--&lt;!&ndash; &lt;!&ndash; overlay &ndash;&gt; &ndash;&gt;-->
        <!--</a> </div>-->

      </div>
    </div>
  </section>
  <!-- work section -->


</div>

<!-- START: Pagination -->
<div class="container">
  <div class="row">
    <div class="nk-pagination nk-pagination-nobg nk-pagination-center">
        <a class="nk-pagination-prev" href="#">
          <span class="pe-7s-angle-left"></span> Previous Post</a>
        <a href="#nk-toggle-filter">
          <span class="nk-icon-squares"></span>
        </a>
        <a class="nk-pagination-next" href="#">Next Post <span class="pe-7s-angle-right"></span> </a>
      </div>
      <ul class="nk-isotope-filter">
        <li class="active" data-filter="*">All</li>
        <li data-filter="Nature">Nature</li>
        <li data-filter="Cities">Cities</li>
        <li data-filter="Branding">Branding</li>
        <li data-filter="Design">Design</li>
      </ul>
  </div>
</div>



<!-- END: Pagination -->
