<div class="container">
  <!-- work section -->
  <section id="works" class="works section no-padding">
    <div class="container-fluid">
      <div class="row no-gutter">

        <div class="main-product col-md-12">
          <div class="col-lg-6 col-md-12">
            <fh-loading-spinner *ngIf='showSpinner'></fh-loading-spinner>

            <div class="main-product-img">
              <img *ngIf="category" [src]="category.img" [alt]="category.title">
            </div>
          </div>
          <div class="col-lg-6 col-md-12">
            <h2>
              {{ category?.title }}
            </h2>
            <pre>{{ category?.body }}</pre>

          </div>
        </div>

        <!--If made without subcategories-->
        <div class='row'>
          <span *ngFor='let item of items | async'>
            <div class="col-lg-3 col-md-4 col-sm-6 work">
              <a [routerLink]='["/item", item.$key]' class="work-box"> <img [src]="item.images[0].url"
                                                                            [alt]="item.title">
                <div class="overlay">
                  <div class="overlay-caption">
                    <p>
                      {{ item.title }}
                    </p>
                    <button class="btn view-btn">
                      <a [routerLink]='["/item", item.$key]'>Детали</a>
                    </button>
                  </div>
                </div>
                <!-- overlay -->
              </a>
            </div>
          </span>
        </div>

        <!--<div class='row' *ngFor='let sub of subcategories | async'>-->
          <!--<h3>{{ sub.title }}</h3>-->

          <!--<span *ngFor='let item of items | async'>-->
            <!--<div class="col-lg-3 col-md-4 col-sm-6 work" *ngIf='item.subcategory === sub.$key'>-->
              <!--<a [routerLink]='["/item", item.$key]' class="work-box"> <img [src]="item.images[0].url"-->
                                                                            <!--[alt]="item.title">-->
                <!--<div class="overlay">-->
                  <!--<div class="overlay-caption">-->
                    <!--<p>-->
                      <!--{{ item.title }}-->
                    <!--</p>-->
                    <!--<button class="btn view-btn">-->
                      <!--<a [routerLink]='["/item", item.$key]'>View</a>-->
                    <!--</button>-->
                  <!--</div>-->
                <!--</div>-->
                <!--&lt;!&ndash; overlay &ndash;&gt;-->
              <!--</a>-->
            <!--</div>-->
          <!--</span>-->
        <!--</div>-->

      </div>
    </div>
  </section>
  <!-- work section -->
</div>

<!-- START: Pagination -->
<div class="container">
  <div class="row">
  </div>
</div>
<!-- END: Pagination -->
