<!-- START: Header Title -->
<div class="nk-header-title nk-header-title-lg">
  <div class="bg-image">
    <div [style.background-image]="getBackground(service?.img)"></div>

  </div>
  <div class="nk-header-table">
    <div class="nk-header-table-cell">
      <div class="container">




      </div>
    </div>
  </div>

</div>

<!-- END: Header Title -->




<div class="container">
  <div class="row">
    <div class="col-lg-8 offset-lg-2">
      <div class="nk-gap-4"></div>

      <!-- START: Post -->
      <div class="nk-blog-post nk-blog-post-single">
        <h1 class="display-4">{{ service?.title}}</h1>

        <!--<div class="nk-post-meta">-->
          <!--<div class="nk-post-date">August 14, 2016</div>-->
          <!--<div class="nk-post-category"><a href="#">Design</a></div>-->
          <!--<div class="nk-post-comments-count">2 Comments</div>-->
        <!--</div>-->

        <!-- START: Post Text -->
        <div class="nk-post-text">
          <p *ngFor='let p of service?.body'>
            {{ p.p }}
          </p>

          <!--<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque rhoncus orci a purus lacinia consectetur. Vestibulum rutrum ex in odio placerat dictum. Morbi sit amet tortor mollis, tincidunt magna a, iaculis nisl. Cras varius odio a arcu rutrum, nec posuere lacus imperdiet. Proin iaculis, nibh eleifend elementum pulvinar, erat nisl consequat quam, ac ornare est sem nec libero. Fusce ac sagittis quam. Phasellus mattis, nunc a venenatis laoreet, est ipsum consectetur turpis, in ullam corper urna tortor eu purus.</p>-->
          <!--<p>Quisque cursus risus id ante fermentum, in auctor quam consectetur. Vestibulum est nisi, tempus ac vehicula sit amet, blandit et sapien. Ut congue dui enim, at viverra nisl tempor a. Donec in enim nec massa lacinia porta. Nullam lobortis, enim aliquam congue bibendum, libero turpis tincidunt enim, vel dapibus justo lectus et risus. Proin eget mi a tortor laoreet dictum.</p>-->

          <!--<blockquote>-->
            <!--<em>Donec consectetur arcu eu diam cursus consectetur. Interdum malesuada faucibus. Morbi dapibus eros vitae nisi blandit lacinia.</em>-->
          <!--</blockquote>-->

          <!--<p>Pellentesque viverra nisl a erat volutpat commodo. Etiam sem justo, pellentesque egestas finibus at, rutrum efficitur ex. Donec facilisis magna in mauris fermentum, sit amet porttitor lorem dictum. Donec in purus elementum, sagittis magna sit amet, auctor enim. Duis purus ex, interdum ac lacus in, ullamcorper vestibulum urna. Duis ornare nec purus ut laoreet.</p>-->

        </div>
        <!-- END: Post Text -->

        <!-- START: Post Share -->
        <div class="nk-post-share">
          <strong>Share:</strong>
          <a href="#" title="Share page on Facebook" data-share="facebook">Facebook</a>,
          <a href="#" title="Share page on Twitter" data-share="twitter">Twitter</a>,
          <a href="#" title="Share page on Pinterest" data-share="pinterest">Pinterest</a>
        </div>
        <!-- END: Post Share -->
      </div>
      <!-- END: Post -->

      <div class="nk-gap-3"></div>
    </div>
  </div>
</div>

<!-- START: Pagination -->
<div class="nk-pagination nk-pagination-center">
  <div class="container">
    <a class="nk-pagination-prev" href="#">
      <span class="pe-7s-angle-left"></span> Previous Post</a>
    <a class="nk-pagination-center" href="#">
      <span class="nk-icon-squares"></span>
    </a>
    <a class="nk-pagination-next" href="#">Next Post <span class="pe-7s-angle-right"></span> </a>
  </div>
</div>
<!-- END: Pagination -->
