<ng-container *ngIf="item">
  
  <div class="container">
    <div class="nk-portfolio-single">
  
      <div class="nk-gap-4 mb-14"></div>
      <h1 class="nk-portfolio-title display-4">{{item?.title}}</h1>
    </div>
    <div class="row">
      <!-- <div class="col-md-12"> -->
      <div class="col-md-7 col-sm-12">
        <div style="padding: 25px 0;" class="nk-portfolio-info">
          <div class="nk-portfolio-text">
            <p style='font-size: 17px; font-weight: 700;'>
              {{item?.body}}
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-5 col-sm-12">
        <caption style="width: 150px; position: absolute; right: 0;">Изображений: {{item?.images.length}}</caption>
        <div class="product-wrap">
          <img class="nk-img-fit" [src]="item?.images[0].url">
          <button class="mat-raised-button mat-primary" mat-button (click)="openDialog()">
            Посмотреть
          </button>
        </div>
      </div>
  
      <!-- </div> -->
    </div>
  </div>
</ng-container>

