<h2 class="display-4">Наши контакты:</h2>

<div class='row'>
  <!--<div class='col-md-4'>-->
    <!--<iframe-->
      <!--src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2540.010487251436!2d30.436342209717445!3d50.45952939814574!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4cc3694ab270f%3A0xefd2ea4114c4b172!2z0LLRg9C70LjRhtGPINCQ0L3RgtC-0L3QsCDQptC10LTRltC60LAsIDEyLCDQmtC40ZfQsiwgMDIwMDA!5e0!3m2!1suk!2sua!4v1534326434321" width="auto" height="250" frameborder="0" style="border:0" allowfullscreen></iframe>-->
  <!--</div>-->
  <div class='nk-contact-info'>
    <div class='col-md-6 col-sm-12'>
      <div class='col-md-12 col-sm-12'>
        <h3><span><i class='fa fa-home'></i></span><span>  Адрес:</span></h3>
        <br>
        <p>ул.Антона Цедика, д.12, корп.2,<br> г.Киев, Украина, 03680</p>
      </div>
      <div class='col-md-12 col-sm-12'>
        <h3><span><i class='fa fa-at'></i></span><span>  Электронная почта:</span></h3>
        <br>
        <p>ak@flyhigh.com.ua<br>gk@flyhigh.com.ua</p>
      </div>
    </div>

    <div class='col-md-6 col-sm-12'>
      <div class='col-md-12 col-sm-12'>
        <h3><span><i class='fa fa-phone'></i></span><span>  Телефон:</span></h3>
        <br>
        <p>+38 (067) 509-57-60<br>+38 (044) 228 96 89</p>
      </div>
      <!--<div class='col-md-12 col-sm-12'>-->
        <!--<h3><span><i class='fa fa-id-badge'></i>-->
        <!--</span><span>  Контактное лицо:</span></h3>-->
        <!--<br>-->
        <!--<p style='font-size: 25px'>Александр Кошель</p>-->
      <!--</div>-->
    </div>

  </div>
</div>

<!--<ul class="nk-contact-info">-->
  <!--<li>-->
    <!--<strong>Адрес:</strong><br>ул.Эжена Потье, д.12, корп.2,<br> г.Киев, Украина, 03680-->
  <!--</li>-->
  <!--<li>-->
    <!--<strong>Телефон:</strong><br>+38 (067) 509-57-60<br>+38 (044) 228 96 89-->
  <!--</li>-->
  <!--<li>-->
    <!--<strong>Электронная почта:</strong><br>ak@flyhigh.com.ua<br>gk@flyhigh.com.ua-->
  <!--</li>-->
  <!--<li>-->
    <!--<strong>Контактное лицо:</strong><br>Александр Кошель-->
  <!--</li>-->
<!--</ul>-->
